<div class="graficos-container">

  <!-- ₿ Bitcoin -->
  <div class="grafico">
    <h3>₿ Bitcoin</h3>

    <canvas id="btcChart"></canvas>

    <p>💰 Atual: {{ bitcoin?.bid | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p>📈 Alta: {{ bitcoin?.high | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p>📉 Baixa: {{ bitcoin?.low | currency:'BRL':'symbol':'1.2-2' }}</p>
  </div>

  <!-- 💵 Dólar -->
  <div class="grafico">
    <h3>💵 Dólar</h3>

    <canvas id="usdChart"></canvas>

    <p>💰 Atual: {{ usd?.bid | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p>📈 Alta: {{ usd?.high | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p>📉 Baixa: {{ usd?.low | currency:'BRL':'symbol':'1.2-2' }}</p>
  </div>

</div>