<div class="lateral" [class.closed]="!isOpen">
  <button class="toggle-btn" (click)="toggleSidebar()"> ☰</button>
  <div class="perfil">
    <img [src]="usuario.avatar" alt="Avatar" />

    <div *ngIf="isOpen">
    <h3>{{ usuario.nome }}</h3>
    <p>{{ usuario.banco }}</p>
  </div>
  </div>

  <nav class="menu">
    <ul>
      <li>
  <a routerLink="/inicio">
    🏠 <span>Início</span>
  </a>
</li>

<li>
  <a routerLink="/conta">
    💰 <span>Contas</span>
  </a>
</li>

<li>
  <a routerLink="/investimentos">
    📊 <span>Investimentos</span>
  </a>
</li>

<li>
  <a routerLink="/configuracoes">
    ⚙️ <span>Configurações</span>
  </a>
</li>
    </ul>
  </nav>
</div>
