.app {
  flex: 1;
  padding: 0;
  min-height: 0;
  height: 100vh;
   transition: all 0.3s ease;
}

.app {
  background:#d1d3d7ad;
}

.banner-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 10px;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100%;

}

.extrato {
    flex-basis: 17.625rem;
}

@media screen and (max-width: 48rem) {
    .extrato {
        flex-basis: 100%;
    }
}
